@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0}
ul{ list-style: none;}
a{color:#ea5f42; text-decoration:none;}

body{ overflow-x: hidden; font-family: "微软雅黑"; }
.wrapper{width:1200px; overflow:hidden;}
.main-1{ height:697px;  position:relative;  background-size: 100% 100%;}
.ab{position:absolute; left:0;top:0;}
.menu{position:absolute; left:20px; top:20px; width:40px; height:50px; background:url(../images/menu.png) no-repeat; background-size: 100% 100%; }

.fixed{position:fixed;left:0;top:0;width:100%;height:679px; background:url(../images/bg_01.jpg) center no-repeat;}
.mt-617{margin-top:617px;}

.main-2{ height:899px; background:url(../images/bg_02.png) center no-repeat;  position:relative; background-size: 100% 100%;}
.tag{ position:absolute; padding:20px 30px; background:#fff; font-size:16px; font-weight:bold; border:2px solid #000;}
.no-bor{ border:none;}
.t1{left: 650px;top: 54px;}
.t2{left: 755px;top: 151px;}
.t3{left: 241px;top: 650px;}
.t4{left: 150px;top: 751px;}
.main-2 .top{position:absolute;top: -31px;left:0;}

.gif{position: absolute;width: 371px;left: 81px;top: 254px; z-index:8;}
.img{ cursor:pointer; position:absolute;}
.img1{left: 524px;top: 354px;}
.img2{left: 792px;top: 578px;}
.img3{left: 79px;top: 158px; z-index:2;}
.img4{left: 449px;top: 18px;}
.img5{left: 840px;top: 33px; width:323px; height:380px; border-radius:50%; overflow:hidden;}
.img6{left: -27px;top: 502px;z-index: 5;}
.img7{left: 411px;top: 411px;}
.img8{left: 853px;top: 420px;}
.img9{left: 0px;bottom: 0px;z-index: 9;}


.main-3{ height:918px; background:url(../images/bg_03.jpg) center no-repeat; position:relative; background-size: 100% 100%;}
.main-4{height:979px;background:url(../images/bg_04.jpg) center no-repeat;position:relative;overflow: hidden; background-size: 100% 100%;}
.main-5{ height:928px; background:url(../images/bg_05.jpg) center no-repeat; position:relative; background-size: 100% 100%;}
.home-footer{ height:214px; background: url(../images/home_foot.jpg); position:relative; background-size: 100% 100%;}
.video{position:absolute;width: 752px;right: 110px;top: 399px;}

.full-bg{position: fixed;width: 100%;height:100%;background: rgba(0,0,0,.6);z-index: 60;display: none;}
.nav{ position: relative; top:80px; z-index:999}
.nav > li{ position: absolute; z-index: 999;}
.nav > li > a{ display: block; text-align: center; line-height: 60px; font-size: 28px; color:#fff; width:200px; padding-top:120px; background: url(../images/nav1.png) top center no-repeat;}
.nav a:hover{ color:#EFAE16; }
.nav .nav-1{ top:100px; left:0px; }
.nav .nav-2 > a{ background-image: url(../images/nav2.png);}
.nav .nav-3 > a{ background-image: url(../images/nav3.png);}
.nav .nav-4 > a{ background-image: url(../images/nav4.png);}
.nav .nav-5 > a{ background-image: url(../images/nav5.png);}
.nav .nav-6 > a{ background-image: url(../images/nav6.png);}
.nav .nav-2{ top:0px; left:200px; }
.nav .nav-3{ top:100px; left:400px; }
.nav .nav-4{ top:0px; left:600px; }
.nav .nav-5{ top:100px; left:800px; }
.nav .nav-6{ top:0px; left:1000px; }
.nav span{ font-size:18px; line-height: 20px; }
.subnav{ padding-left:40px; line-height: 40px;}
.subnav a{ color:#fff; }



.snow{}
.snow .main-1{height:915px; background: url(../images/snow/snow_01.jpg) no-repeat;background-size: 100% 100%;}
.snow .main-2{height:1515px; background: url(../images/snow/snow_02.jpg) no-repeat;background-size: 100% 100%;}
.snow .main-3{height:1321px; background: url(../images/snow/snow_03.jpg) no-repeat;background-size: 100% 100%;}
.snow .main-4{height:246px; background: url(../images/snow/snow_04.jpg) no-repeat;background-size: 100% 100%;}
.snow .img1{ left:84px; top:55px;}
.snow .img2{ left:610px; top:195px;}
.snow .img3{ left:208px; top:560px;}
.snow .img4{ left:610px; top:558px;}
.snow .img5{ left:102px; top:1107px;border-radius:0; width:auto; height: auto;}
.snow .img6{ left:632px; top:1105px;}
.snow .img7{ left:88px; top:412px;}
.bind{ position: absolute; left:900px; top:493px; width:77px; height:90px; background: url(../images/snow/bind.png) no-repeat; }
.footer{ width:1200px; height:240px; background: url(../images/footer.png) 0px 20px no-repeat;}

.pop{}
.pop .main-1{height:752px; background: url(../images/pop/pop_01.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.pop .main-2{height:1994px; background: url(../images/pop/pop_02.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.pop .main-3{height:960px; background: url(../images/pop/pop_03.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.pop .main-4{height:250px; background: url(../images/pop/pop_04.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.pop .img1{ left:217px; top:217px;}
.pop .img2{ left:790px; top:487px;}
.pop .img3{ left:225px; top:850px;}
.pop .img4{ left:615px; top:850px;}
.pop .img5{ left:486px; top:1270px;border-radius:0; width:auto; height: auto;}
.pop .img6{ left:219px; top:283px;}

.static{}
.static .main-1{height:843px; background: url(../images/static/static_01.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.static .main-2{height:1682px; background: url(../images/static/static_02.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.static .main-3{height:1090px; background: url(../images/static/static_03.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.static .main-4{height:260px; background: url(../images/static/static_04.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.static .img1{ left:141px; top:192px;}
.static .img2{ left: 596px; top:650px;}
.static .img3{ left: 124px; top:1113px; border-radius:50%;}
.static .img4{ left:147px; top:400px;}

.sleep{}
.sleep .main-1{height:971px; background: url(../images/sleep/sleep_01.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.sleep .main-2{height:1501px; background: url(../images/sleep/sleep_02.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.sleep .main-3{height:1150px; background: url(../images/sleep/sleep_03.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.sleep .main-4{height:277px; background: url(../images/sleep/sleep_04.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%; background-size: 100% 100%;}
.sleep .img1{ left:92px; top:37px;}
.sleep .img2{ left:617px; top:40px;}
.sleep .img3{ left:102px; top:1140px;}
.sleep .img4{ left:614px; top:749px;}
.sleep .img5{ left:96px; top:368px;border-radius:0; width:auto; height: auto;}

.videos{}
.videos .main-1{height:795px; background: url(../images/video/video_01.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%;}
.videos .main-2{height:679px; background: url(../images/video/video_02.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%;}
.videos .main-3{height:787px; background: url(../images/video/video_03.jpg) no-repeat; background-size: 100% 100%; background-size: 100% 100%;}
.videos .img1{ width: 532px; /* height: 392px; */ left: 364px; top: 387px;}
.videos .img2{ left: 365px; top: 268px; width: 532px;}
.videos .img3{ left: 366px; width:532px; top: 255px;}

.contact{}
.contact .main-1{ height:850px; background: url(../images/contact/contact.jpg) no-repeat;}
.contact .img1{ width: 271px; left: 744px; top: 64px; transform:rotate(-90deg); -webkit-transform:rotate(-90deg); }
.contact .img2{ left: 651px; top: 514px; width: 456px;}

.about{}
.about .main-1{height:657px; background: url(../images/about/about_01.jpg) no-repeat; background-size: 100% 100%;}
.about .main-2{height:1071px; background: url(../images/about/about_02.jpg) no-repeat; background-size: 100% 100%;}
.about .main-3{height:1606px; background: url(../images/about/about_03.jpg) no-repeat; background-size: 100% 100%;}
.about .main-4{height:882px; background: url(../images/about/about_04.jpg) no-repeat; background-size: 100% 100%;}
.about .main-5{height:256px; background: url(../images/about/about_05.jpg) no-repeat; background-size: 100% 100%;}

.about .img1{ left:261px; top:0px;}
.about .img2{ left:406px; top:476px;}
.about .img3{ left:410px; top:17px;}
.about .img4{ left:250px; top:438px;}
.about .img5{ left:357px; top:966px;border-radius:0; width:auto; height: auto;}
.about .img6{ left:219px; top:283px;}
.about .name{ position: absolute;}
.about .name1{ left: 600px; top: 336px; }
.about .name2{ left: 147px; top: 760px; }
.about .name3{ left: 687px; top: 132px; }
.about .name4{ left: 130px; top: 734px; }
.about .name5{ left: 675px; top: 1209px; }

.shops{ position: relative; height:689px; padding-top:150px; background: url(../images/shop.jpg) top no-repeat; margin:0 auto; }
#focus_Box{position:relative;width:1000px;height:308px;margin:20px auto;}
#focus_Box ul{position:relative;width:1000px;height:308px}
#focus_Box li{z-index:0;position:absolute; width:0px;background:#787878;height:0px;top:146px;cursor:pointer;left:377px;border-radius:4px;box-shadow:1px 1px 12px rgba(200, 200, 200, 1)}
#focus_Box li img{width:100%;height:100%;vertical-align:top}
#focus_Box li p{position:absolute;left:0;bottom:0px;width:100%;height:40px;line-height:40px;text-indent:8px;color:#fff;}
#focus_Box li p span{display:inline-block;width:70%;height:40px;overflow:hidden;}
#focus_Box .prev,#focus_Box .next{display:block;z-index:50;overflow:hidden;cursor:pointer;position:absolute;width:37px;height:62px;top:171px;}
#focus_Box .prev{background:url(../images/shop/last.png) left bottom no-repeat;left:-80px}
#focus_Box .next{background:url(../images/shop/next.png) right bottom no-repeat;right:-80px} 
#focus_Box .prev:hover{background-position:left top;}
#focus_Box .next:hover{background-position:right top;}
#focus_Box a.imgs-scroll-btn{display:block;position:absolute;z-index:110;top:7px;right:15px;width:51px;height:23px;overflow:hidden;text-indent:-999px;}

.more{ position: absolute; bottom: 30px; left: 545px; }




.loading { width: 100%; height: 100%; background-color: #323b4d; position: fixed; z-index: 200; }
.loading-container { width: 197px; height: 170px; font-size: 50px; position: fixed; top: 50%; left: 50%; margin-left: -98px; margin-top: -85px; display: block; }

.addthis { width: 360px; margin: 0 auto; }

.loadingmoonmask { width: 197px; height: 170px; position: absolute; top: -100%; background-color: #323b4d; -webkit-animation: myfirst 2s; /* Chrome, Safari, Opera */ -moz-animation: myfirst 2s; -ms-animation: myfirst 2s; -o-animation: myfirst 2s; animation: myfirst 2s; -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */ -moz-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */ -moz-animation-duration: 2s; -ms-animation-duration: 2s; -o-animation-duration: 2s; animation-duration: 2s; }


@-webkit-keyframes myfirst {
    from { top: -10%; }
    to { top: -95%; }
}

.loading-container img { position: absolute; }

@keyframes myfirst {
    from { top: -10%; }
    to { top: -95%; }
}

img.loading-gif { position: absolute; top: 141px; left: 104px; }

img.loading-star-top { -webkit-animation: mySecond 5s; /* Chrome, Safari, Opera */ animation: mySecond 5s; -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */ animation-iteration-count: infinite; }

@-webkit-keyframes mySecond {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

img.loading-star-middle { -webkit-animation: myThird 5s; /* Chrome, Safari, Opera */ animation: myThird 5s; -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */ animation-iteration-count: infinite; }

@-webkit-keyframes myThird {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

img.loading-star-bottom { -webkit-animation: myFourth 5s; /* Chrome, Safari, Opera */ animation: myFourth 5s; -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */ animation-iteration-count: infinite; }

@-webkit-keyframes myFourth {
    0% { opacity: 0.5; }
    25% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.scene { position: fixed; width: 100%; height: 100%; }

.audio{ position:absolute; z-index: 999; left:400px; visibility: hidden; }

.play{ position: absolute;left: 27px;top: 150px;width: 17px;height: 20px; background: url(../images/play.gif) no-repeat;z-index: 150;background-size: 100% 100%;}
.m-on{ background: url(../images/pause.png) center no-repeat;background-size: 94% 100%;}




